*{
    padding: 0px;
    margin: 0px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;;
    font-style: normal;
      
  
}
@media screen and (max-width:600px) {
    *{
        font-size: 10px;
        
    }
}